body{
    font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        margin: 0px;
}
section{
    height: 550px;
display: block;

}
.header{
background-image: url("../images/header-bg.png");
background-repeat: no-repeat;
background-position: left;
padding: 50px 50px;

}
.h-left{
width: 40%;
float: left;
padding-top: 100px;
padding-left: 200px;
}
.h-left h1{
    color: rgb(211, 0, 130);
    font-weight: 700px;
    font-size: 60px;
    font-family:sans-serif;
}
.h-left .heading-para {
    font-size: 30px;
    font-family:initial;
    
}
.h-right{
width: 40%;
float: right;
padding-top: 50px;
}
.h-right img{
    width: 100%;
    max-height:500px;
    
}